a, a:active, a:visited, summary {
	color: #f06160;
	text-decoration-thickness: 0.0625rem;
	text-underline-offset: 0.1250rem;
} a:hover, summary:hover {
	color: #cc2f41;
	cursor: pointer;
}

summary { font-weight: 700; }

h1 {
	padding-top: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 375;
	line-height: normal;
	word-spacing: 0.2rem;
	color: #1693a0;
	text-transform: uppercase;
}

pre {
	font-family: "SometypeMono-Base64", monospace;
	font-weight: 425;
	line-height: normal;
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 4;
	color: #414752;
}

details pre {
	height: 60vh;
	scrollbar-width: auto !important;
	scrollbar-color: #868d9b white;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

em {
	font-family: "Caveat-Base64", cursive;
	font-weight: 400;
	font-size: 130%;
	font-style: normal;
	color: #868d9b;
} em::after {
	content: "\00a0";
}

p.small, small, figcaption {
	font-size: 0.85rem;
	font-weight: 500;
	line-height: 1.25rem;
} p.small em, small em, figcaption em {
	font-weight: 450;
}

p.large {
	font-size: 125%;
} p.large em {
	font-weight: 400;
	line-height: 1.65rem;
}

p.shout { 
	font-size: 175%;
} p.shout em {
	color: #1693a0;
	font-weight: 400;
	line-height: 2.3rem;
} p.shout .whisper {
	position: relative;
	top: -0.6rem;
	font-size: 50%;
	font-weight: 700;
}

u {
	text-decoration-thickness: 0.0625rem;
	text-underline-offset: 0.1250rem;
}

s {
	display: inline;
	position: relative;
	text-decoration-line: none;
	white-space: normal;
} s::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 58%;
	height: 0.085rem;
	background-color: currentColor;
	transform: translateY(-50%);
	pointer-events: none;
} s.correction::after {
	background-color: #868d9b;
}


.right {
	text-align: right;
	width: 70%;
	margin-left: 30%;
}

.center { text-align: center; }

.narrow { padding: 0 15%; }

.highlight { color: #1693a0; }

.note {
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem 1rem;
	width: 75%;
	text-align: center;
	border: 0.1rem solid #e1dee7;
	border-radius: 1rem;
}

.capture {
	position: relative;
	width: 100%;
	height: auto;
}

video {
	width: 100%;
	height: auto;
}

.controls {
	width: 100%;
	display: grid;
	grid-template-columns: 5rem 1fr;
	gap: 1rem;
} .controls input {
	width: 100%;
	accent-color: #1693a0;
} .controls button {
	width: 100%;
	margin-right: 0;
}

.play {
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: calc(50% - 2.5rem);
	left: calc(50% - 2.5rem);
	opacity: 1;
	transition: opacity 0.5s ease;
	pointer-events: none;
}

img { max-width: 100%; }

.pixels {
	width: 100%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
}

.gallery {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 0.345fr 0.31fr 0.345fr;
	gap: 1rem;
	width: 100%;
} .gallery > div {
	display: flexbox;
	flex-direction: column;
	gap: 1rem;
}

.comics {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	width: 100%;
}

.logos {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 0.60fr 0.40fr;
	gap: 3rem;
	width: 100%;
}

.resume {
	display: grid;
	grid-template-columns: 0.62fr 0.38fr;
	gap: 2rem;
	width: 100%;
}

.category {
	word-spacing: 0.2rem;
	color: #1693a0;
	text-transform: uppercase;
}

.glow {
	position: relative;
	display: inline-block;
	width: 100%;
} .glow img, .glow canvas {
	display: block;
	width: 100%;
	height: auto;
} .glow::after {
	content: "";
	position: absolute;
	inset: 0;
	box-shadow: inset 0 0 0 0.5rem #ffffff55;
	pointer-events: none;
}

kbd {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 -1px 0 #ccc;
	padding: 2px 6px;
	font-family: "SometypeMono-Base64", monospace;
	font-weight: 425;
}

.examples-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

@media (max-width: 768px) {
.right {
	width: 85%;
	margin-left: 15%;
}
.resume {
	grid-template-columns: 1fr;
}
.controls {
	grid-template-columns: 3.5rem 1fr;
}
}